$default-font-size: 16px;
$rare-txt-size: 18px;
$small-txt-size: 24px;
$medium-txt-size: 32px;
$large-txt-size: 48px;
$footer-txt-size: 14px;
$date-txt-color: #ADB8C8;
$desc-txt-color: #91A0B6;
$main-txt-color: #78787A;
$header-txt-color: #262626;
$headers-bl-txt-cl: #242424;
$white-txt-color: #FFFFFF;
$bold: 800;
$hr-color: #E5E5E5;


$mainBackgroundColor: #F1EDF7;
$listBackgroundColor: #fbfafd;
$capitalTxtColor: #4E3D59;
$secondaryTxtColor: #A5A5A8;
$redBackColor: #f1d9e1;
$greenBackColor: #d7e8e3;
$blueBackColor: #e1dff6;
$purpleBackColor: #e8dcf6;
$pinkBackColor: #EFD9EB;
$forRedTxtColor: #FE4C4F;
$forGreenTxtColor: #20C95C;
$forBlueTxtColor: #767BFE;
$forPurpleTxtColor: #AC65FE;
$forPinkTxtColor: #EC479E;
$additionalColor: #FF4D4F;